<div class="field" id="redactorStylesJson-field">
  <div class="heading">
    <label for="redactorStylesJson">Styles JSON Object</label>
  </div>
  <div class="input">
    <textarea class="text nicetext fullwidth" name="redactorStylesJson" id="redactorStylesJson">{{ settings.redactorStylesJson }}</textarea>
  </div>
</div>

<div class="field" id="redactorStylesCss-field">
  <div class="heading">
    <label for="redactorStylesCss">Styles CSS</label>
  </div>
  <div class="input">
    <textarea class="text nicetext fullwidth" name="redactorStylesCss" id="redactorStylesCss">{{ settings.redactorStylesCss }}</textarea>
  </div>
</div>

